{% extends 'base.html.twig' %}

{% block title %}Publication index{% endblock %}

{% block body %}
    <h1>Publication index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Conference</th>
                <th>Venue</th>
                <th>Published</th>
                <th>Abstract</th>
                <th>Url</th>
                <th>Month</th>
                <th>Year</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publication in publications %}
            <tr>
                <td>{{ publication.id }}</td>
                <td>{{ publication.title }}</td>
                <td>{{ publication.conference }}</td>
                <td>{{ publication.venue }}</td>
                <td>{{ publication.published }}</td>
                <td>{{ publication.abstract }}</td>
                <td>{{ publication.url }}</td>
                <td>{{ publication.month }}</td>
                <td>{{ publication.year }}</td>
                <td>
                    <a href="{{ path('publication_show', {'id': publication.id}) }}">show</a>
                    <a href="{{ path('publication_edit', {'id': publication.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('publication_new') }}">Create new</a>
{% endblock %}
