{% extends 'base.html.twig' %}

{% block title %}Publication{% endblock %}

{% block body %}
    <h1>Publication</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ publication.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ publication.title }}</td>
            </tr>
            <tr>
                <th>Conference</th>
                <td>{{ publication.conference }}</td>
            </tr>
            <tr>
                <th>Venue</th>
                <td>{{ publication.venue }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ publication.published }}</td>
            </tr>
            <tr>
                <th>Abstract</th>
                <td>{{ publication.abstract }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ publication.url }}</td>
            </tr>
            <tr>
                <th>Month</th>
                <td>{{ publication.month }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ publication.year }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('publication_index') }}">back to list</a>

    <a href="{{ path('publication_edit', {'id': publication.id}) }}">edit</a>

    {{ include('publication/_delete_form.html.twig') }}
{% endblock %}
