{% extends 'base.html.twig' %}

{% block title %}MemberPublication{% endblock %}

{% block body %}
    <h1>MemberPublication</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member_publication.id }}</td>
            </tr>
            <tr>
                <th>AuthorSequence</th>
                <td>{{ member_publication.authorSequence }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('member_publication_index') }}">back to list</a>

    <a href="{{ path('member_publication_edit', {'id': member_publication.id}) }}">edit</a>

    {{ include('member_publication/_delete_form.html.twig') }}
{% endblock %}
